instance.cfg
/.idea/
/minecraft/config/
/minecraft/coremods/
/minecraft/crash-reports/
/minecraft/defaultconfigs/
/minecraft/gtceu/
minecraft/kubejs/client_scripts/example.js
minecraft/kubejs/server_scripts/example.js
minecraft/kubejs/startup_scripts/example.js
/minecraft/local/
/minecraft/logs/
/minecraft/modernfix/
/minecraft/mods/
/minecraft/patchouli_books/
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/xaero/
/minecraft/XaeroWaypoints*
/minecraft/*.json
/minecraft/options.txt
/minecraft/rhino.local.properties
