instance.cfg
.packignore
/.idea/
/minecraft/coremods/
/minecraft/crash-reports/
/minecraft/gtceu/
minecraft/kubejs/client_scripts/example.js
minecraft/kubejs/server_scripts/example.js
minecraft/kubejs/startup_scripts/example.js
/minecraft/local/
/minecraft/logs/
/minecraft/modernfix/
/minecraft/patchouli_books/
/minecraft/saves/
/minecraft/screenshots/
/minecraft/server-resource-packs/
/minecraft/xaero/
/minecraft/XaeroWaypoints*
/minecraft/*.json
/minecraft/options.txt
/minecraft/rhino.local.properties
/minecraft/resourcepacks/Quark Programmer Art.zip
/minecraft/kubejs/README.txt
/minecraft/.mixin.out
/minecraft/.qmenu_opened.marker
/minecraft/shaderpacks
minecraft/kubejs/config/probe-settings.json
/minecraft/.vscode
/minecraft/kubejs/.probe/
/minecraft/.probe/
/minecraft/kubejs/*_scripts/*.json

/Pack Docs/.obsidian/

# Included config files
/minecraft/config/*
!/minecraft/config/apotheosis/
/minecraft/config/apotheosis/*
!/minecraft/config/apotheosis/apotheosis.cfg
!/minecraft/config/apotheosis/garden.cfg

!/minecraft/config/extendedcrafting-common.toml
!/minecraft/config/gtceu.yaml
!/minecraft/config/mysticalagriculture-common.toml

/minecraft/defaultconfigs/ftb*/

/minecraft/mods/*
!/minecraft/mods/gtmetx-1.20.1-0.1.0.jar